<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Spot.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SpotExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>467D205C1C48883C0033D5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467D20661C48883C0033D5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467D20801C488C920033D5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467D20931C488C930033D5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467D209E1C488C930033D5CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
